/*-------------------------------------------------------------*/
/*Typography*/
/*-------------------------------------------------------------*/
.div-header {
  margin-top: 20px;
  padding: 30px;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  color: #CBCBCB;
}

.center {
  text-align:center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.white {
  color:white;
}

.footerColor {
  color: #ABABAB;
}

#heading-text {
  padding: 0px 10px 10px 10px;
  text-align:left;
  font-weight: bold;
  font-size: 18px;
}

p,h1,h2,h3,h4,h5,h6,a,li {
  font-family:verdana;
}

/*------------------------------------------------------------------*/
/*NavBar*/
/*------------------------------------------------------------------*/
.myTopNavBar {
  background-color:white;
  height:75px;
  /*box-shadow: 0px 4px 8px #E7E7E7;*/
}

/*TopNavBarMenu*/
ul#myTopNavBarMenu {
  padding:30px;
}
ul#myTopNavBarMenu li{
  display:inline;
  padding:15px 21px 15px 20px;
  border-radius: 5px;
  font-weight:bold;
}
ul#myTopNavBarMenu li:hover{
  border-top:1px solid black;
}
ul#myTopNavBarMenu a{
  font-weight:bold;
  color: black;
}
ul#myTopNavBarMenu a:hover{
  text-decoration: none;
}
/*Fixed Social Media Icons*/
.fixedSocialMediaDiv {
  position:fixed;
  left: 95%;
  width:5%;
  z-index: 10;
  top:100px;
  margin:1px;
  text-align: right;
}

#sideSocialMediaIcons {
  font-size: 45px;
}

#mobileMenuIcon {
    font-size: 30px;
    border: 1px solid #22B663;
    border-radius: 5px;
    padding: 5px;
    background-color:#22B663;
    color:white;
}

.mobileMenu {
  text-align: center;
}

ul#navSubmenu {
  text-align:center;
  list-style-type:none;
  background-color: grey;
  padding: 0px;
}
ul#navSubmenu li {
  color:white;
  border-bottom:1px solid white;
  padding: 5px 5px 5px 10px;
}
ul#navSubmenu li a{
  color: white;
}
ul#navSubmenu li:hover{
  color: white;
  text-decoration: none;
  background-color: black;
}
ul#navSubmenu li a:hover{
  text-decoration: none;
}

@media only screen and (max-width: 745px) {
  .hideInMobileScreen {
    display: none;
  }
}

@media only screen and (min-width: 745px) {
  .showInMobileScreen {
    display: none;
  }
}
/*-------------------------------------------------------------------
Home
-------------------------------------------------------------------*/
.homeSlider {
  width:100%;
}

/*#home {
  background-image: url("../img/homeBG.jpg"); background-position: 50% 0px;
}*/

@media only screen and (min-width: 600px) {
  .homeSlider {
      width:100%;
      height: 550px;
  }
}

#indexBackground{
  background-image:    url('../img/web.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/*------------------------------------------------------------------
Product and Services
------------------------------------------------------------------*/
.productItem {
  height: 250px;
  text-align:center;
  border:0.1px solid #22B663;
  background-color: white;
}

.productItemDetail {
  height: 250px;
  text-align:center;
  background-color: #22B663;
  color:white;
}

.serviceItem {
  height: 250px;
  text-align:center;
  border:0.1px solid #F1F1F1;
  background-color: white;
}
.serviceItem:hover {
  background-color: #22B663;
  color:white;
}

#serviceItemIcon {
  color: #22B663;
  font-size: 60px;
  margin-top:65px;
}

#serviceItemHead {
  color:black;
  font-size: 16px;
}

#serviceItemDetailHead {
  color: white;
  font-size: 17px;
  margin-top: 20px;
}

#serviceItemDetailContent {
  color: white;
  font-size: 15px;
  padding:8px;
}

#serviceItemDetailButton {
  padding: 10px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}
/*---------------------------------------------------*/
 /*Contact US*/
 /*---------------------------------------------------*/
#contact-form-inputs {
  border:1px solid #DDDDDD;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  color: black;
}

#contact-form-inputs:focus {
  border-color: #22B663;
}

#contactFormSubmitButton {
    margin:12px;
    padding: 10px 20px 10px 20px;
    border:1px solid #22B663;
    color:white;
    background-color: #22B663;
    border-radius: 20px;
}

#contactFormSubmitButton:hover {
    background-color: white;
    border:1px solid #22B663;
    color:#22B663;
}

#contactFormIcons {
    color: #22B663;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#footer {
  background-color: #1D1D1D;
  text-align:center;
  color: #ABABAB;
  padding:50px;
}
#footerSocialMediaIcons {
  font-size: 35px;
  margin:20px;
}
#footerInformationContent {
  padding: 10px;
  color: #ABABAB;
}
#footerInformationContent:hover {
  text-decoration: none;
  padding: 15px;
}

/*=======================================================================
Services Sub Pages
=======================================================================*/

.businessConsultingBackground{
    background-image:    url('../img/bg/business.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.designConsultingBackground{
    background-image:    url('../img/bg/web.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.cloudConsultingBackground{
    background-image:    url('../img/bg/cloud.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.trainingConsultingBackground{
    background-image:    url('../img/bg/training.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
